/* Removes default element styling from web browser */
* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box; 
}
body{
    background: #fff;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/* Style for the current problem displayed */
#problem {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for user answer input box */
#userAnswer {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.progress-container {
    width: 40vw;
    max-width: 350px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.bar-text {
    font-size: 16px;
    line-height: 20px;
    margin: 4px 0 4px 8px;
}

.progress-bar {
    height: 20px;
    width: 0%;
    background-color: #13c359;
    transition: width 0.3s ease; /* Smooth transition for width change */
    margin-bottom: 4px;
}

.progress-container.timer {
    left: 2vw;
}

.progress-container.score {
    right: 2vw;
}

#progress-score-bar{
    background-color: #0c87de;
}
